<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
       
        <h2>What is it all about?  you ask.</h2> Well, if you're referring to the program I created under the guidance of my teacher Peter Rawsthorne using JavaScript, DAL, routes, APIs, and partials, then it's all about accessing and manipulating data stored in a PostgreSQL database. Through this program, I'm able to retrieve data from the database,using CRUD as well as add, edit and delete data as needed. The use of partials and APIs allows me to efficiently display this data in both the browser and the terminal, making it easily accessible and actionable for users. Overall, this program showcases the power and versatility of modern web development technologies, allowing me to build complex applications that can handle a wide range of tasks and data manipulation needs
    </body>
    <%- include('./partials/footer.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</html>