<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="Menu content">

<div id="Menu-json-pargraph">
  <p>Here you can press the button below to view the json data in an alert window in browser! I made this page for fun to see what else I could do with the JSON data thats retreived from the PostGres Database. </p>
</div>
<div id="json-btn">
<button id="menuJsonBtn">View Menu as JSON</button>
</div>

<script>
    // add an event listener to the menuJsonBtn to fetch and display the menu data as JSON
    document.getElementById("menuJsonBtn").addEventListener("click", async () => {
      try {
        const response = await fetch("/menu/menuJson");
        const menuJson = await response.json();

        console.log(menuJson); // log the menu data to the console to be sure everything from db is logged

         // display the menu data as a JSON string in an alert box just for fun
        alert(`Here's the current JSON menu data from the PostGres DB: \n ${JSON.stringify(menuJson)}`); 
      } catch (err) {
        console.error(err);
        alert("Error fetching menu data");
      }
    });
  </script>
        </div>
    </body>

</br>
    <%- include('./partials/footer.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</html>

